.button {
  color: #fff;
  background-color: #6d27f0;
  box-shadow: 5 5px 3px #3c354a;
  transition-duration: 0.5s;
}

.button:hover {
  top: 2px;
  box-shadow: 10px 5px 1px #4aaa7d;
  background-color: #18b5a4;
}

.header {
  padding-left: 20px;
}

.new_post {
  padding-left: 20px;
}
