.App {
  text-align: center;
}

.app-wrapper {
  margin: 0  auto;
  width: 1200px;
  display: grid;

  grid-template-areas: 
    "h"
    "n"
    "c";

  ;
}




.content {
  grid-area: c;
  background-color: cornflowerblue;
}