.dialogsScreen {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "d m"
    
    ;
}

.messages {
    grid-area: m;
}

.dialog {
    grid-area: d;
} 


.sender {
    position: relative;
    right: -550px;
  }
